.bg {
  animation:slide 3s ease-in-out infinite alternate;
  /* background-image: linear-gradient(-60deg, #ffffff 50%, #e9ecef 50%); */
  background-image: linear-gradient(-60deg, #f8f9fa 50%, #dee2e6 50%);
  /* background-image: linear-gradient(-60deg, #f1f3f5 50%, #ced4da 50%); */
  /* background-image: linear-gradient(-60deg, #dee2e6 50%, #adb5bd 50%); */
  /* background-image: linear-gradient(-60deg, #adb5bd 50%, #6c757d 50%); */
  /* background-image: linear-gradient(-60deg, #ffffff 50%, #343a40 50%); */
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}