html {
  scroll-behavior: smooth;
}

body {
    hyphens: auto;
}

header {
  overflow-x: hidden;
}

header h1 {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

header h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, rgb(206, 212, 218), rgb(240, 242, 245));
  animation: underlineGrow 2s forwards;
}

@keyframes underlineGrow {
  to {
    width: 100%;
  }
}

h1 {
    font-weight: bold !important;
}

hr {
    border-top: 1px solid #dee2e6;
    opacity: 1;
}

.link-hover {
    transition: all 150ms ease-in-out;
}

a i {
    transition: transform 150ms ease-in-out;
}

a:hover i {
    transform: scale(0.9);
}

button:hover i {
    transform: scale(0.9);
}

.link-hover:hover {
    background-color: #343a40;
    color: #fff !important;
}

.header-link {
   color: inherit;
}

.profile-image {
  filter: contrast(110%);
}

.container--individual {
    border: 1px solid #dee2e6;
    padding: 15px;
    background: white;
    box-shadow: 0px 0px 19px -13px rgba(0, 0, 0, 0.75);
}

.card {
	transition: all 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }
}

.medium-post img {
  margin-bottom: 7px;
  margin-top: 5px;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);

  width: 100%;           /* oder eine fixe Breite, z. B. 300px */
  height: 200px;         /* gleiche Höhe für alle */
  object-fit: cover;     /* Bild wird zugeschnitten, aber nicht verzerrt */
  object-position: center;
  display: block;
}

#medium-posts {
    min-height: 600px;
    overflow: hidden;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

#scroll-icon {
  opacity: 0.5;
  animation: fadeInRight 0.5s forwards ease-out;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  #scroll-icon:hover {
    opacity: 1;
    cursor: pointer;
  }
}

#scroll-icon i {
  animation: floatUpDown 1.5s ease-in-out infinite;
}

@media (min-width: 768px) {
  .post-title {
    min-height: 3lh;
  }
  .contact-button {
    width: 100%;
  }
}

.medium-link {
  color: inherit;
}

.medium-link:hover {
  opacity: 0.8;
}