* {
    padding: 0.1em;
    margin: 0.2em;
}

/********************* Erwartete CSS-Elemente ***************/
* {
    background-color: whitesmoke;
}

h1  {
  text-align: center;
}

input {
  background-color: white;
}

.FlexContainer {
  display: flex;
  justify-content: space-around;
  /* flex-direction: row; */ 
}

nav a {
  display: inline-block;
}

section {
  border-top: 0.1em solid black;
}

@media only screen and (max-width: 700px) {
  .FlexContainer {
    flex-direction: column;
  }
}
